@model Student


<div class ="stud">
<h2>Students Info</h2>
 <p> ID: @Model.ID</p> 
 <p> FirstName: @Model.FirstName</p> 
 <p> LastName: @Model.LastName</p>  
 <p> IndexNr: @Model.IndexNr</p>  
 <p> DateOfBirth: @Model.DateOfBirth</p>  
 <p>FielOfStudy: @Model.FieldOfStudy</p>
 </div>