@using SchoolRegister.ViewModels.VM
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<SubjectVm>
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Subject"];
}

<h2>@ViewData["Title"]</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="AddOrEditSubject">@Localizer["CreateNew"]</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
           <th>
                <label>@Localizer["Name"]</label>
            </th>
            <th>
                <label>@Localizer["Description"]</label>
            </th>
            <th>
                <label>@Localizer["TeacherName"]</label>
            </th>
            <th>
                <label>@Localizer["GroupsCount"]</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Groups.Count)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="AddOrEditSubject" asp-route-id="@item.Id">@Localizer["Edit"].Value</a> @:|
                        <a asp-controller="Group" asp-action="AttachSubjectToGroup" asp-route-subjectId="@item.Id">@Localizer["AttachSubjecttoGroup"].Value</a> @:|
                        <a asp-controller="Group" asp-action="DetachSubjectToGroup" asp-route-subjectId="@item.Id">@Localizer["DetachSubjecttoGroup"].Value</a> @:|
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"].Value</a> 
                </td>
            </tr>
        }
    </tbody>
</table>