@model IEnumerable<AWWW_lab3_gr2.Models.Article>

<h1>Artykuły</h1>

@* @foreach (var article in Model)
{
<div class="row">
<p>ID: @article.Id</p>
<p>@article.Title</p>
<p>@article.Content</p>
<p>@article.Author</p>
<p>@article.CreationDate</p>
<p>
<a asp-controller="Article" asp-route-id="@article.Id" asp-action="Update">Edytuj</a>
</p>
</div>
} *@