@model AWWW_lab1_gr2.Models.Student 
<div class="main">

    <div class="container">
        <div class="title">
            <h1>@Model.FirstName @Model.LastName</h1>   
        </div>
        <ul>
            <li>Nr indeksu: @Model.IndexNr</li>
            <li>Data urodzin: @Model.DateOfBirth.ToShortDateString()</li>
            <li>Kierunek: @Model.FieldOfStudy</li>
        </ul>
    </div>
</div>