@model AWWW_lab1_gr2.Models.Student

<h4>@Model.FirstName @Model.LastName</h4>

<p>
    Data urodzenia: @Model.DateOfBirth.ToShortDateString()<br>
    Numer Indeksu: @Model.IndexNr <br>
    Kierunek: @Model.FieldOfStudy <br>
</p>

