@model AWWW_lab1_gr2.Models.Student 

<h1>@Model.FirstName @Model.LastName</h1>
<ul>
    <li>@Model.IndexNr</li>
    <li>@Model.DateOfBirth.ToShortDateString()</li>
    <li>@Model.FieldOfStudy</li>
</ul>