<ul>
    <li><a asp-controller="Student" asp-action="Details" asp-route-id="@Model[0].Id">@Model[0].FirstName @Model[0].LastName</a>
    </li>
    <li><a asp-controller="Student" asp-action="Details" asp-route-id="2">@Model[1].FirstName @Model[1].LastName</a>
    </li>
    <li><a asp-controller="Student" asp-action="Details" asp-route-id="3">@Model[2].FirstName @Model[2].LastName</a>
    </li>
</ul>
