@model AWWW_lab1_gr2.Models.Student

<h1>@Model.FirstName @Model.LastName</h1>
<h4>Numer Indeksu: @Model.IndexNr</h4>
<h4>Data urodzenia: @Model.DateOfBirth</h4>
<h4>Kierunek: @Model.FieldOfStudy</h4>