@model AWWW_lab1_gr2.Models.Student

<h2>Szczegóły Studenta</h2>

<p><strong>ID:</strong> @Model.Id</p>
<p><strong>Imię:</strong> @Model.FirstName</p>
<p><strong>Nazwisko:</strong> @Model.LastName</p>
<p><strong>Numer indeksu:</strong> @Model.IndexNr</p>
<p><strong>Data urodzenia:</strong> @Model.DateOfBirth.ToString("dd/MM/yyyy")</p>
<p><strong>Kierunek studiów:</strong> @Model.FieldOfStudy</p>
