@model IEnumerable<SchoolRegister.ViewModels.VMs.StudentVm>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Students"];
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-lg-4">
        <input id="students-filter-input" class="form-control" type="text" placeholder="filter" />
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer[@Html.DisplayNameFor(model => model.FirstName)]
            </th>
            <th>
                @Localizer[@Html.DisplayNameFor(model => model.LastName)]
            </th>
            <th>
                @Localizer[@Html.DisplayNameFor(model => model.ParentName)]
            </th>
            <th>
                @Localizer[@Html.DisplayNameFor(model => model.GroupName)]
            </th>
            <th>
                @Localizer[@Html.DisplayNameFor(model => model.AverageGrade)]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="student-table-data">
        <partial name="_StudentTableDataPartial" model="Model" />
    </tbody>
</table>
