@model IEnumerable<Kolokwium.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<ul>
    @foreach (var user in Model)
    {
        <li>
            <a asp-controller="User" asp-action="Create" asp-route-id="@user.Id">
                @user.UserName @user.Email @user.FirstName @user.LastName
            </a>
        </li>
    }
</ul>

<a asp-action="Create" asp-controller="User">Add New user</a>