@model AWWW_lab1_gr1.Models.Student
<style>


    body {
        background: url("https://images.unsplash.com/photo-1487564149407-9fb3522e2ceb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }
    .stud {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
    }

    .stud h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .stud p {
        color: #666;
        margin: 5px 0;
    }
</style>

<div class ="stud">
<h2>Students Info</h2>
 <p> ID: @Model.Id</p> 
 <p> FirstName: @Model.FirstName</p> 
 <p> LastName: @Model.LastName</p>  
 <p> IndexNr: @Model.IndexNr</p>  
 <p> DateOfBirth: @Model.DateOfBirth</p>  
 <p>FielOfStudy: @Model.FieldOfStudy</p>
 </div>