<head>
     <link rel="stylesheet" href="~/css/site.css" />
</head>
@model AWWW_lab1_gr1.Models.Student 
 
 <div class=artykul>
 <p> ID: @Model.ID</p> 
 <p> FirstName:   @Model.FirstName</p> 
 <p> LastName:  @Model.LastName</p>  
 <p> IndexNr:  @Model.IndexNr</p>  
 <p> DateOfBirth:  @Model.DateOfBirth</p>  
 <p>FielOfStudy:   @Model.FielOfStudy</p>
 </div>