@model AWWW_lab1_gr1.Models.Student


 <p> ID: @Model.ID</p>
 <p> FirstName:   @Model.FirstName</p>
 <p> LastName:  @Model.LastName</p> 
 <p> IndexNr:  @Model.IndexNr</p> 
 <p> DateOfBirth:  @Model.DateOfBirth</p> 
 <p>FielOfStudy:   @Model.FielOfStudy</p> 

