<div class="student-section">
    <p class="student-title">Student</p>

    <p class="student-details">
        Szczegó³owe informacje:
        <ul>
            <li>Imie: @Model.FirstName</li>
            <li>Nazwisko: @Model.LastName</li>
            <li>Index: @Model.IndexNr</li>
            <li>Data urodzenia: @Model.DateOfBirth.ToShortDateString()</li>
            <li>Kierunek: @Model.FieldOfStudy</li>
        </ul>
    </p>
</div>
