
@model AWWW_lab1_gr1.Models.Student


    <h1 class="title">Student nr @Model.Id</h1>
    
    <p class="text-block">
        Imie: @Model.FirstName
    </p>

    <p class="text-block">
    Nazwisko: @Model.LastName
    </p>

    <p class="text-block">
        Data urodzenia: @Model.DateOfBirth.ToShortDateString()
    </p>

    <p class="text-block">
        Numer indeksu: @Model.IndexNr
    </p>

    <p class="text-block">
        Field of study: @Model.FieldOfStudy
    </p>



