@model AWWW_lab1_gr5.Models.Student

<h1>@Model.Title</h1>

<p>
    Id Studenta: @Model.Id
</p>
<p>
    First name: @Model.FirstName
</p>
<p>
    Last name: @Model.LastName
</p>
<p>
    Index: @Model.IndexNr
</p>
<p>
    Data urodzenia: @Model.DateOfBirth.ToShortDateString()
</p>
<p>
    Field of study: @Model.FieldOfStudy
</p>