@model AWWW_lab1_gr2.Models.Student

<h1>Student</h1>

<ul class="list-group">
    <li class="list-group-item">Imie: @Model.FirstName</li>
    <li class="list-group-item">Nazwisko: @Model.LastName</li>
    <li class="list-group-item">Nr indeksu: @Model.IndexNr</li>
    <li class="list-group-item">Data urodzenia: @Model.DateOfBirth</li>
    <li class="list-group-item">Kierunek: @Model.FieldOfStudy</li>
</ul>