@model IEnumerable<SchoolRegister.ViewModels.VMs.TeacherVm>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Index"];
}

<h2>@Localizer["TeacherList"]</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Localizer[@Html.DisplayNameFor(model => model.Title)]
            </th>
            <th>
                @Localizer[@Html.DisplayNameFor(model => model.FirstName)]
            </th>
            <th>
                @Localizer[@Html.DisplayNameFor(model => model.LastName)]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
            </tr>
        }
    </tbody>
</table>
