@model IEnumerable<AWWW_lab1_gr2.Models.League>


<div class="main">
    <div class="container">
        <div class="title">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="authors">
            @foreach(var league in Model){
                <li>
                    <div asp-route-id="@league.LeagueId">@league.Name @league.Country @league.Level</div> 
                </li>
            }
        </div>
        <div class="addLeague">
            <a asp-action="form" asp-controller="League">Dodaj lige</a>
        </div>
    </div>
</div>