@model AWWW_lab1_gr1.Models.Student;

<h2>@Model.FirstName @Model.SecondName</h2>
<p>Numer Indexu: @Model.IndexNumber</p>
<p>Data urodzenia: @Model.DateOfBirth</p>
<p>Student @Model.FieldOfSttudy</p>

