@model AWWW_lab1_gr1.Models.MatchEvent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MatchEvent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Match)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Match.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchPlayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchPlayer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
