@model AWWW_lab1_gr1.Models.Article

<h1>@Model.Title</h1>

<h2>Artykuł</h2>

<p>
    Data utworzenia: @Model.CreationDate.ToShortDateString()
</p>

<p class="article-content">
    @Model.Content
</p>
<p>Autor: <a asp-controller="Author" asp-action="Details" asp-route-id="@Model.Author.Id">@Model.Author.FirstName @Model.Author.LastName</a></p>