@using AWWW_lab1_gr2.Models

@model IList<Author>

<h1 class="h1">@ViewBag.Title</h1>
<a asp-controller="author" asp-action="add"><button type="button">Dodaj autora</button></a>

<div>
    <div class="row">
        <div>
            Imię:
        </div>
        <div>
            Nazwisko:
        </div>
    </div>
    @foreach (var author in Model)
    {
        <div class="row">
            <div>
                @author.FirstName
            </div>
            <div>
                @author.LastName
            </div>
            <div>
                <form method="post">
                    <button type="submit" class="btn btn-danger"
                        formaction='@Url.Action("UsunDane", "Author", new { id = @author.Id })'
                    >Usuń</button>
                </form>
            </div>
        </div>

    }
</div>
