@model AWWW_lab1_gr2.Models.Team; 

<div class="main">
    <div class="container">
        <div class="title">
            <h1>@ViewBag.Title</h1>
            @if (ViewBag.Success == false){
                <script>
                    alert("Druzyna nie zostala dodana"); 
                </script>
            }
        </div>

        <div class="form">
            <form asp-controller="Team" asp-action="Edit">
                
                <input type="hidden" asp-for="TeamId" value="@Model.TeamId" >
                <label asp-for="Name"></label>
                <input asp-for="Name" value="@Model.Name">
                <label asp-for="Country"></label>
                <input asp-for="Country" value="@Model.Country">
                <label asp-for="City"></label>
                <input asp-for="City" value="@Model.City">
                <label asp-for="FoundingDate"></label>
                <input asp-for="FoundingDate" value="@Model.FoundingDate">

                <label asp-for="LeagueId"></label>
                <select asp-for="LeagueId" asp-items="@ViewBag.Leagues">
                    @* <option value="@Model.LeagueId" selected></option> *@
                </select>

                <input type="submit">
            </form>
        </div>

        
    </div>
</div>
