@model IEnumerable<AWWW_lab1_gr2.Models.Team>


<div class="main">
    <div class="container">
        <div class="title">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="teams">
            @foreach(var team in Model){
                <li>
                    <div class="teamDisplay" asp-route-id="@team.TeamId">
                        @team.Name 
                        Kraj: @team.Country 
                        @if (team.League != null){
                            @($"Liga: {team.League.Name}")
                        }
                        <form asp-action="Delete" asp-controller="Team">
                            <input type="hidden" name="id" value=@team.TeamId> 
                            <button type="submit" class="btnDelete btnDelete-team">Usun druzyne</button>
                        </form>
                        @* <form asp-controller="Team" asp-action="Edit">
                            <input type="hidden" name="id" value=@team.TeamId>
                            <button type="submit" class=btnEdit>Edytuj</button>
                        </form> *@
                        @Html.ActionLink("Edit", "Edit", new {id = team.TeamId}, new {@class = "btnEdit"})
                    </div> 
                </li>
            }
        </div>


        <div class="addTeam">
            <a asp-action="form" asp-controller="Team">Dodaj druzyne</a>
        </div>
    </div>
</div>