@model IEnumerable<AWWW_lab1_gr2.Models.Team>


<div class="main">
    <div class="container">
        <div class="title">
            <h1>@ViewBag.Title</h1>
            @if (ViewBag.Success == false){
                <script>
                    alert("Druzyna nie zostala dodana"); 
                </script>
            }
        </div>
        <div class="teams">
            @foreach(var team in Model){
                <li>
                    <div asp-route-id="@team.TeamId">@team.Name 
                        @team.Country @team.City id: @team.LeagueId @team.FoundingDate
                    </div> 
                    @* <a class="btnDelete" asp-controller="team" asp-action="delete" asp-route-id="@team.TeamId">Usun</a> *@
                </li>
            }
        </div>



        <div class="addTeam">
            <a asp-action="form" asp-controller="Team">Dodaj druzyne</a>
        </div>
    </div>
</div>